Telerik/Crapyard/AdventureWorks/AdventureWorksSL/Service References/AdventureWorks/ProductServiceSL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:4378/ProductServiceSL.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:4378/ProductServiceSL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4378/ProductServiceSL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdventureWorks" />
      <xsd:import schemaLocation="http://localhost:4378/ProductServiceSL.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:4378/ProductServiceSL.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProductServiceSL_GetProductCategories_InputMessage">
    <wsdl:part name="parameters" element="GetProductCategories" />
  </wsdl:message>
  <wsdl:message name="ProductServiceSL_GetProductCategories_OutputMessage">
    <wsdl:part name="parameters" element="GetProductCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ProductServiceSL_GetProductsByCategory_InputMessage">
    <wsdl:part name="parameters" element="GetProductsByCategory" />
  </wsdl:message>
  <wsdl:message name="ProductServiceSL_GetProductsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="GetProductsByCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductServiceSL">
    <wsdl:operation name="GetProductCategories">
      <wsdl:input wsaw:Action="urn:ProductServiceSL/GetProductCategories" message="ProductServiceSL_GetProductCategories_InputMessage" />
      <wsdl:output wsaw:Action="urn:ProductServiceSL/GetProductCategoriesResponse" message="ProductServiceSL_GetProductCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <wsdl:input wsaw:Action="urn:ProductServiceSL/GetProductsByCategory" message="ProductServiceSL_GetProductsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="urn:ProductServiceSL/GetProductsByCategoryResponse" message="ProductServiceSL_GetProductsByCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>