Telerik/Crapyard/AdventureWorks/AdventureWorksSL/Service References/AdventureWorks/ProductServiceSL3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AdventureWorks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdventureWorks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4378/ProductServiceSL.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:import schemaLocation="http://localhost:4378/ProductServiceSL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductCategory" nillable="true" type="tns:ArrayOfProductCategory" />
  <xs:complexType name="ProductCategory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentProductCategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductCategory1" nillable="true" type="tns:ArrayOfProductCategory" />
          <xs:element minOccurs="0" name="ProductCategory2" nillable="true" type="tns:ProductCategory" />
          <xs:element minOccurs="0" name="ProductCategory2Reference" nillable="true" type="q1:EntityReferenceOfProductCategory1On9osHi" />
          <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DiscontinuedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
          <xs:element minOccurs="0" name="ProductCategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductCategoryReference" nillable="true" type="q2:EntityReferenceOfProductCategory1On9osHi" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductModel" nillable="true" type="tns:ProductModel" />
          <xs:element minOccurs="0" name="ProductModelID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductModelReference" nillable="true" type="q2:EntityReferenceOfProductModel1On9osHi" />
          <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalesOrderDetails" nillable="true" type="tns:ArrayOfSalesOrderDetail" />
          <xs:element minOccurs="0" name="SellEndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SellStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StandardCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="ThumbNailPhoto" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ThumbnailPhotoFileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ProductModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CatalogDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductModelID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductModelProductDescriptions" nillable="true" type="tns:ArrayOfProductModelProductDescription" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductModel" nillable="true" type="tns:ProductModel" />
  <xs:complexType name="ArrayOfProductModelProductDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductModelProductDescription" nillable="true" type="tns:ProductModelProductDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductModelProductDescription" nillable="true" type="tns:ArrayOfProductModelProductDescription" />
  <xs:complexType name="ProductModelProductDescription">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="tns:ProductDescription" />
          <xs:element minOccurs="0" name="ProductDescriptionID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductDescriptionReference" nillable="true" type="q4:EntityReferenceOfProductDescription1On9osHi" />
          <xs:element minOccurs="0" name="ProductModel" nillable="true" type="tns:ProductModel" />
          <xs:element minOccurs="0" name="ProductModelID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductModelReference" nillable="true" type="q4:EntityReferenceOfProductModel1On9osHi" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductModelProductDescription" nillable="true" type="tns:ProductModelProductDescription" />
  <xs:complexType name="ProductDescription">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ProductDescriptionID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductModelProductDescriptions" nillable="true" type="tns:ArrayOfProductModelProductDescription" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDescription" nillable="true" type="tns:ProductDescription" />
  <xs:complexType name="ArrayOfSalesOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesOrderDetail" nillable="true" type="tns:SalesOrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesOrderDetail" nillable="true" type="tns:ArrayOfSalesOrderDetail" />
  <xs:complexType name="SalesOrderDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="LineTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OrderQty" type="xs:short" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductReference" nillable="true" type="q6:EntityReferenceOfProduct1On9osHi" />
          <xs:element minOccurs="0" name="SalesOrderDetailID" type="xs:int" />
          <xs:element minOccurs="0" name="SalesOrderHeader" nillable="true" type="tns:SalesOrderHeader" />
          <xs:element minOccurs="0" name="SalesOrderHeaderReference" nillable="true" type="q6:EntityReferenceOfSalesOrderHeader1On9osHi" />
          <xs:element minOccurs="0" name="SalesOrderID" type="xs:int" />
          <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="UnitPriceDiscount" type="xs:decimal" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalesOrderDetail" nillable="true" type="tns:SalesOrderDetail" />
  <xs:complexType name="SalesOrderHeader">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
          <xs:element minOccurs="0" name="Address1" nillable="true" type="tns:Address" />
          <xs:element minOccurs="0" name="Address1Reference" nillable="true" type="q7:EntityReferenceOfAddress1On9osHi" />
          <xs:element minOccurs="0" name="AddressReference" nillable="true" type="q7:EntityReferenceOfAddress1On9osHi" />
          <xs:element minOccurs="0" name="BillToAddressID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreditCardApprovalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerReference" nillable="true" type="q7:EntityReferenceOfCustomer1On9osHi" />
          <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Freight" type="xs:decimal" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OnlineOrderFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PurchaseOrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevisionNumber" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="SalesOrderDetails" nillable="true" type="tns:ArrayOfSalesOrderDetail" />
          <xs:element minOccurs="0" name="SalesOrderID" type="xs:int" />
          <xs:element minOccurs="0" name="SalesOrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ShipMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipToAddressID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="TaxAmt" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalDue" type="xs:decimal" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalesOrderHeader" nillable="true" type="tns:SalesOrderHeader" />
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressID" type="xs:int" />
          <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerAddresses" nillable="true" type="tns:ArrayOfCustomerAddress" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalesOrderHeaders" nillable="true" type="tns:ArrayOfSalesOrderHeader" />
          <xs:element minOccurs="0" name="SalesOrderHeaders1" nillable="true" type="tns:ArrayOfSalesOrderHeader" />
          <xs:element minOccurs="0" name="StateProvince" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfCustomerAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerAddress" nillable="true" type="tns:CustomerAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerAddress" nillable="true" type="tns:ArrayOfCustomerAddress" />
  <xs:complexType name="CustomerAddress">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
          <xs:element minOccurs="0" name="AddressID" type="xs:int" />
          <xs:element minOccurs="0" name="AddressReference" nillable="true" type="q9:EntityReferenceOfAddress1On9osHi" />
          <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerReference" nillable="true" type="q9:EntityReferenceOfCustomer1On9osHi" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerAddress" nillable="true" type="tns:CustomerAddress" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerAddresses" nillable="true" type="tns:ArrayOfCustomerAddress" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NameStyle" type="xs:boolean" />
          <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordSalt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalesOrderHeaders" nillable="true" type="tns:ArrayOfSalesOrderHeader" />
          <xs:element minOccurs="0" name="SalesPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfSalesOrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesOrderHeader" nillable="true" type="tns:SalesOrderHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesOrderHeader" nillable="true" type="tns:ArrayOfSalesOrderHeader" />
</xs:schema>